*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: orange;
}

.right{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: yellow;
}
.lifePointsP1{
    margin:40px;
}
.sub1{
    cursor: pointer;
}
.sub2{
    cursor: pointer;
}
.add1{
    cursor: pointer;
}
.add2{
    cursor: pointer;
}
.lifePointsP2{
    margin:40px;
}

@media (max-width: 480px) {

    .container{
        flex-direction: column;
    }
    .right{
        writing-mode: vertical-rl;
        width: 100%;
    }
    .left{
        writing-mode: vertical-rl;
        width: 100%;
    }
}
